{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": ["@shopify/prettier-plugin-liquid"],
  "overrides": [
    {
      "files": "*.liquid",
      "options": {
        "parser": "liquid-html",
        "printWidth": 120,
        "singleQuote": false
      }
    },
    {
      "files": ["*.json", "*.md", "*.yml", "*.yaml"],
      "options": {
        "tabWidth": 2,
        "useTabs": false
      }
    }
  ]
}
